/* =========================================
   1. FONT DEFINITIONS (Next.js / Inter)
   ========================================= */
@font-face {
  font-family: __Inter_e66fe9;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format("woff2");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f;
}

@font-face {
  font-family: __Inter_e66fe9;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format("woff2");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}

@font-face {
  font-family: __Inter_e66fe9;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format("woff2");
  unicode-range: u+1f??;
}

@font-face {
  font-family: __Inter_e66fe9;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format("woff2");
  unicode-range: u+0370-03ff;
}

@font-face {
  font-family: __Inter_e66fe9;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format("woff2");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab;
}

@font-face {
  font-family: __Inter_e66fe9;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format("woff2");
  unicode-range: u+0100-02af, u+0304, u+0308,u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0
